:root {
    --blue-1: #9cbcd4;
    --blue-2: #ccdbe3;
    --opal-1: #d6bea1;
    --opal-2: #dcb385;
    --grey-1: #6c6c74;
    --grey-2: #d2c4b5;
    --orange-1: #e49444;
    --orange-2: #e3a55d;
    --white-1: #ffffff;
    --white-2: #f5f5f5;
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
}

body {
    background: var(--white-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navbar {
    height: 60px;
    width: 100%;
    background: var(--blue-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    border-bottom: 5px solid var(--orange-2);
}

.logo {
    color: var(--white-1);
    font-size: 40px;
    position: absolute;
    left: 30px;
}

.navbar ul {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--white-1);
    font-size: 25px;
    margin-right: 25px;
}

.navbar ul li a:hover {
    color: var(--white-2);
}

.links {
    position: absolute;
    left: 100%;
    background: var(--white-1);
    height: 100%; 
    transition: .2s;
    z-index: 99;
}

.link {
    width: 300px;
    font-size: 30px;
    padding: 15px;
    position: relative;
    cursor: pointer;
}

.link:hover {
    background: var(--white-2);
}

.hamburger {
    margin-right: 50px;
    cursor: pointer;
}

.hamburger-line {  
    background: var(--white-1);
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 5px;
}

.move {
    transform: translateX(-325px);
    box-shadow: 0 0 0 10000px rgb(0 0 0 / 30%);
}

.mic-wrapper {
    background: var(--white-1);
    width: 325px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: 5px solid var(--blue-1);
    cursor: pointer;
    margin-top: 40px;
}

.exit-wrapper {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-times {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22.5px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.fa-times:hover {
    background: var(--white-2);
}

.fa-microphone {
    font-size: 225px;
    color: var(--orange-1);
}

.fa-chevron-right {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    margin-top: 40px;
    color: var(--grey-1);
}

select {
    margin-top: 40px;
    height: 35px;
    width: 175px;
}

select:focus {
    outline: none;
}

.text-wrapper {
    position: absolute;
    top: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: var(--white-2);
    transition: .2s;
}

.translation-tab {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white-1);
    color: var(--grey-1);
    outline: 1px solid black;
    padding: 7.5px 20px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.translation-tab:hover {
    background: var(--white-2);
}

.fa-exchange-alt {
    color: var(--grey-1);
    font-size: 30px;
    margin: 10px;
    position: absolute;
    background: var(--white-2);
    outline: 1px solid var(--grey-1);
    border-radius: 50%;
    padding: 10px;
}

.translation {
    min-height: 225px;
    width: 50vw;
    resize: none;
    outline: 1px solid black;
    color: black;
    font-size: 15px;
    padding: 10px;
    max-width: 650px;
}

.translation:focus {
    outline: none;
}

.text-close {
    position: absolute;
    right: -15px;
    bottom: 5px;
    color: var(--grey-1);
}

.move-text {
    transform: translateY(-225px);
}

/* Change navbar for desktop */
@media screen and (min-width: 1024px) { 
  .hamburger {
      display: none;
  }

  .navbar ul {
      display: flex;
  }

}
