<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ALI</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">
  <meta property="og:image" content="image.png">

  <link rel="shortcut icon" type="image/x-icon" href="static\images\icon.ico">  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&amp;display=swap" rel="stylesheet">

<script>
function makeid(length) {
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * 
 charactersLength));
   }
document.getElementById("demo").innerHTML = result;
}
</script>

  
  
</head>

<body>
    <nav class="navbar">
        <div class="logo">ALI</div>

        <ul>
          {% if isAdmin %}
          <li><a href="/admin">Admin</a></li>
          {%endif%}
          <li><a href="/home">Home</a></li>
          <li><a href="/takehome">Translator</a></li>
          <li><a href="/mychart">Previous Entries</a></li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>

        <div class="hamburger">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
    </nav>

    <div class="links"> 
      <div class="exit-wrapper"><i class="fas fa-times link-close"></i></div>
      {% if isAdmin %}
      <div class="link"><a href="/admin">admin<i class="fas fa-chevron-right"></a></i></div>
      {%endif%}
      <div class="link"><a href="/home">Home<i class="fas fa-chevron-right"></a></i></div>
      <div class="link"><a href="/takehome">Translator<i class="fas fa-chevron-right"></a></i></div>
      <div class="link"><a href="/mychart">Previous Entries<i class="fas fa-chevron-right"></a></i></div>
      <div class="link"><a href="/logout">Sign Out<i class="fas fa-chevron-right"></a></i></div>
    </div>

    
  
    {%if keyMade%}
    <p style="color: red">Key has been saved</p>
    {%endif%}
  
    {% if failedLogin %}
      <p style="color: red">Invalid Credentials</p>
      {% endif %}    

      {% if not keyMade %}
      <div class= "main">
        <input type="button" value="Generate a Key" onclick="makeid(20)" class="button generate"/>
        <br> 
        <br> 
        <p id="demo"></p>
      </div>

      <form class="main" method="POST">
    
        
        <h1>Generate Company Key</h1>

        <h3>Username</h3>
        <input type="text" placeholder="Username" name="username" class="text">

        <h3>Password</h3>
        <input type="text" placeholder="Password" name="password" class="text">

        <h3>Company Name</h3>
        <input type="text" placeholder="Company Name" name="companyName" class="text">

        <h3>Company Id</h3>
        <input type="text" placeholder="Company Key" name="companyKey" class="text">

        <div class="button-wrapper">
            <a href="/" class="button cancel">Cancel</a>
            <input type="submit" value="Submit" class="button generate">
            
        </div>
        {% endif %}

    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>
    <script src="../static/scripts/admin.js"></script>
</body>
</html>