<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login</title>

  <link rel="shortcut icon" type="image/x-icon" href="static\images\icon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&amp;display=swap" rel="stylesheet">
</head>

<body>
  <form action="/" method="post">
    <div class="main-wrapper">
      <div class="small bubble"></div>
      <div class="large bubble"></div>
      <img src="static\images\logo.png" alt="logo">
      <i class="fas fa-user"></i>

      {% if failedLogin %}
      <p style="color: red">Failed login</p>
      {% endif %}

      <input type="text" placeholder="Username" name="username" class="text">
      <input type="password" placeholder="Password" name="password" class="text">

      <input type="submit" value="Login" class="button">

      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
  <script src="static/scripts/login-page.js"></script>
</body>

</html>